html{
	background: #39a;
}
.container{
	position: relative;
	margin: 0 auto;
	width: 100%;
	font-family: helvetica, sans-serif;
}
.content{
	position: relative;
	padding-top: 80px;
	p{
		margin-bottom: 10px;
	}
}
#header{
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #222222;
	color: white;
	
	h1{
		position: absolute;
		top: 0;
		left: 0;
		text-transform: uppercase;
	}
}
#nav{
	position: absolute;
	right: 0;
	ul{
		li{
			float: left;
			a{
				display: block;
				color: white;
				text-decoration: none;
				padding: 0 10px;
			}
		}
	}
}