/** Main page layout **/
/** * { margin: 0; padding: 0; }
html { height: 101%; } **/

body{
	background: #f2f2f2;
	margin: 0 0 0 0;
}

/** Navigation bar **/
#header{
	position: fixed;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #222222;
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 1.25em;
	z-index: 100;
}
#header h5{
	margin: 0 0 0 0;
	height: 60px;
	position: absolute;
	left: 10px;
}

#nav{
	position: absolute;
	right: 0;
	height: 60px;
}
ul.nav{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 60px;
}
li.nav{
	display: inline;
	float: left;
	line-height: 60px;
}
a.nav{
	display: block;
	color: white;
	text-decoration: none;
	padding: 0 10px;
	height: 60px;
}

/** Title header things **/
h1{
	font-family: Helvetica, sans-serif;
	color: #454545; 
	font-size: 1.5em; 
	margin-bottom: 6px;
}
h2{
	font-family: Helvetica, sans-serif;
	color: #484848;
	font-size: 1.5em;
	margin-bottom: 10px; 
	text-decoration: underline;
}
h3{
	font-family: Helvetica, sans-serif;
	color: #777;
	font-weight: normal;
	font-size: 1.1em;
	margin-bottom: 10px;
}
h4{
	font-family: Helvetica, sans-serif;
	color: #656565;
	font-weight: bold; 
	font-size: 1.05em; 
	margin-bottom: 4px;
}

/** Paragraph text, small text **/
p{
	font-family: "Balthazar", "Droid Serif", serif; 
	color: #565656; 
	font-size: 1.1em; 
	line-height: 1em; 
	margin-bottom: 15px; 
	padding-left: 35px; 
}
small{
	font-family: "Balthazar", "Droid Serif", serif;
	color: #656565;
	font-size: 1em; 
	display: block; 
	margin-bottom: 6px;
}

/** List behavior
ul { display: block; list-style: none; }
ul li { padding-left: 45px; list-style-type: none; vertical-align: top; background: url('images/bullet.png') 25px 5px no-repeat; margin-bottom: 5px; font-family: "Balthazar", "Droid Serif", serif; color: #666; font-size: 1.6em; line-height: 2.3em; }
**/

/** Image **/
img{
	border: 0; 
	max-width: 100%;
}

/** Links **/
a{ color: #5582d6; text-decoration: none; }
a:hover{ text-decoration: underline; }


/** @group core layout **/
#w {
	position: absolute;
	margin: 60px 50px;
	padding: 20px 40px; 
	padding-top: 35px; 
	background: #fff; 
	min-width: 260px; 
	max-width: 900px; 
	border-bottom-right-radius: 8px; 
	border-bottom-left-radius: 8px; 
	-webkit-border-bottom-left-radius: 8px; 
	-webkit-border-bottom-right-radius: 8px; 
	-moz-border-radius-bottomleft: 8px; 
	-moz-border-radius-bottomright: 8px;
}

header { width: 100%; }

/** @group personal settings **/
#info {
	float: left; 
	margin-bottom: 12px;
}
#photo { float: right; }
#photo img { 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 5px; 
}

/** @group skills **/
#skills-left { display: block; float: left; margin-right: 30px; }
#skills-right { display: block; float: left;}

/** @group clearfix **/
.clearfix:after{
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0; 
}
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/** LaTeX styling **/
.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub{
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub{
  font-size: 1em;
}

.latex sup{
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

/** html { background: #39a; } **/
.container{
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 1100px;
  font-family: helvetica, sans-serif;
}
.content{
  position: relative;
  padding-top: 80px;
  p { margin-bottom: 10px; }
}