---
layout: page
---

<div class="home">

  {{ content }}
  
  <ul class="post-list">
    {% for post in site.posts %}
        <li>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          {% assign date_format = site.minima.date_format | default: "%-d %B %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          {{ post.excerpt }} <a href="{{ post.url | relative_url }}">Keep reading...</a>
        </li>
    {% endfor %}
  </ul>

</div>